.teammate-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 16px;
    height: 350px;
    width: 200px;
    text-align: center;
  }
  
  .teammate-card-image img {
    width: 100%;
    height: auto;
    /* height: 40%; */
    object-fit: cover;
  }
  
  .teammate-card-content {
    padding: 16px;
  }
  
  .teammate-card-content h3 {
    margin: 0 0 8px;
  }
  
  .teammate-card-content p {
    margin: 4px 0;
    color: #555;
  }
  .teammate-list {
    display: flex;
  }
  