.event-container {
    border: 1px solid black;
    margin: 5px;
    border-radius: 10px;
    margin: 10px;
}
.event-list {
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Loader container to center the spinner */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; /* Full viewport height */
  background-color: #f4f4f4; /* Optional background color */
}

/* Simple CSS spinner */
.loader {
  border: 4px solid #f3f3f3; /* Light gray background */
  border-top: 4px solid #3498db; /* Blue spinner */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite; /* Animation for spinning effect */
}

/* Spinner animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
